@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Manrope:wght@800&family=Passion+One&family=Poppins:wght@300&family=Rubik:wght@900&family=Signika+Negative:wght@700&display=swap');



body {
    margin: 0px;
    
  }
*{
    
    box-sizing: border-box;
}  
body p {
  line-height: 30px;
  font-size: 22px;

}

body h3{
  font-size: 26px;
}
a{
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  color:rgb(18, 1, 56);
}