// Desktop
@media (min-width: 995px) {
    .content {
      display: flex;  
      width: 1400px;
      // height: 100vh;
      margin: 0 auto;
      flex-direction: column;
    }
  
    // .row {
    //   width: 100%;
    //   // overflow: auto;
    // //   display: flex;
    // }
  
    // @for $i from 1 through 12 {
    //   .col-#{$i} {
    //     width: #{$i * $column-width - $colum-margins}px;
    //     margin: 0px 10px;
    //     float: left;
    //   }
    // }
  }